#sses-calculator,
#sses-calculator * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    margin: 0;
    padding: 0;
}

#sses-calculator .button {
    display: inline-block;
    overflow: hidden;
    margin: 1.5em auto 0;
    position: relative;
    text-decoration: none;
    /*width: 10.6em;*/
}

    #sses-calculator .button .pill-shape-content {
        background-color: #e4e3d4;
        border: 1px solid #e4e3d4;
        border-left: 0;
        border-right: 0;
        color: #6e6259;
        height: 4.5em;
        margin: 0 2em;
        transition: all .15s ease-in-out;
    }

        #sses-calculator .button .pill-shape-content span {
            display: block;
            font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            font-size: 2.5em;
            font-weight: 600;
            line-height: 1;
            padding: .35em 0 0;
            text-transform: uppercase;
        }

    #sses-calculator .button .pill-shape-left {
        border-top: 4.6em solid transparent;
        border-bottom: 4.6em solid transparent;
        border-left: 8em solid #e4e3d4;
        transition: all .15s ease-in-out;
    }

        #sses-calculator .button .pill-shape-left:after {
            border-bottom: 4.4em solid transparent;
            border-top: 4.4em solid transparent;
            border-left: 7.3em solid #e4e3d4;
            right: .6em;
            transition: all .15s ease-in-out;
        }

    #sses-calculator .button .pill-shape-right {
        border-top: 4.6em solid transparent;
        border-bottom: 4.6em solid transparent;
        border-right: 8em solid #e4e3d4;
        transition: all .15s ease-in-out;
    }


    #sses-calculator .button .pill-shape-right:after {
        border-bottom: 4.4em solid transparent;
        border-top: 4.4em solid transparent;
        border-right: 7.3em solid #e4e3d4;
        left: .6em;
        transition: all .15s ease-in-out;
    }

#sses-calculator a.button {
    padding: 0;
}

    #sses-calculator a.button:hover {
        text-decoration: none;
    }

    #sses-calculator .button:hover .pill-shape-content {
        background-color: #6e6259;
        border-color: #6e6259;
        color: #e4e3d4;
    }

    #sses-calculator .button:hover .pill-shape-left {
        border-left: 8em solid #6e6259;
    }

        #sses-calculator .button:hover .pill-shape-left:after {
            border-left: 7.3em solid #6e6259;
        }

    #sses-calculator .button:hover .pill-shape-right {
        border-right: 8em solid #6e6259;
    }


    #sses-calculator .button:hover .pill-shape-right:after {
        border-right: 7.3em solid #6e6259;
    }

/* Pill Buttons */
#sses-calculator .pill-shape-container {
    overflow: hidden;
    position: relative;
}

#sses-calculator .pill-shape {
    height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    z-index: 0;
}

    #sses-calculator .pill-shape:after {
        content: '';
        height: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        z-index: 2;
    }

#sses-calculator .pill-shape-left {
    border-top: 14em solid transparent;
    border-bottom: 14em solid transparent;
    border-left: 28em solid #0f547b;
    border-radius: 50% 0 0 50%;
    left: .3em;
}

    #sses-calculator .pill-shape-left:after {
        border-top: 13.7em solid transparent;
        border-bottom: 13.7em solid transparent;
        border-left: 27.2em solid #105882;
        border-radius: 50% 0 0 50%;
        right: .5em; /* because these come after and are the same size, they need to be pushed in the opposite direction */
    }

#sses-calculator .pill-shape-right {
    border-top: 14em solid transparent;
    border-bottom: 14em solid transparent;
    border-right: 28em solid #0f547b;
    border-radius: 0 100% 100% 0;
    right: .3em;
}

    #sses-calculator .pill-shape-right:after {
        border-top: 13.7em solid transparent;
        border-bottom: 13.7em solid transparent;
        border-right: 27.2em solid #105882;
        border-radius: 0 100% 100% 0;
        left: .5em; /* because these come after and are the same size, they need to be pushed in the opposite direction */
    }

#sses-calculator .pill-shape-content {
    background-color: #105882;
    border: .3em solid #0f547b;
    border-left: 0;
    border-right: 0;
    color: #cac7a7;
    height: 13em;
    margin: 0 2em;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 2; 
}

/* Calculator */
#sses-calculator-form {
    font-size: 10px !important;
    text-align: center;
}

#sses-calculator-form > h3 {
    background-color: #e8eff6;
    color: #08669b;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.9em;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    padding: 1em 1em .5em;
    text-align: left;
    text-transform: uppercase;
}

#sses-calculator-form p {
    background-color: #e8eff6;
    color: #08669b;
    font-family: 'Georgia', serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0 1.333333em .5em;
    text-align: left;
}

#sses-calculator-form a {
    text-decoration: none;
}

#sses-calculator {
    color: #08669b;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin: 0 auto;
    max-width: 50em;
    padding: 0;
}

#sses-calculator h3 {
    color: #08669b;
    margin: 0;
}

#sses-calculator ul,
#sses-calculator ol {
    color: #08669b;
    font-size: 1.0em !important;
    position: static !important;
}

#sses-calculator li {
    color: #08669b;
    list-style: none !important;
}

#sses-calculator a {
    color: #08669b;
}

#sses-calculator .sses-calculator-int {
    background-color: #e8eff6;
    color: #08669b;
    font-size: 9px;
    padding: 1.5em;
}

#sses-calculator .edit-family-member {
    color: #08669b;
    margin: 0 -1.5em;
    overflow: hidden;
    text-align: center;
}

#sses-calculator .sses-calculator-intro {
    font-family: 'Georgia', serif;
    line-height: inherit;
    padding: 0 0 1em;
}

#sses-calculator .sses-calculator-int h4 {
    color: #08669b;
    font-family: 'Georgia', serif;
    font-size: 1.7em;
    font-weight: 700;
}

#sses-calculator .calculator-card-edit-nav {
    background-color: #e8eff6;
    display: inline-block;
    margin: 0 auto -1.9em;
    padding: 0 1.5em;
    position: relative;
    z-index: 2;
}

    #sses-calculator .calculator-card-edit-nav a {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        color: transparent;
        float: left;
        font-size: 1px;
        height: 24em;
        line-height: 0;
        margin: 0;
        padding: 0;
        text-decoration: none;
        width: 12em;
    }

        #sses-calculator .calculator-card-edit-nav-prev {
            background-image: url( '//spendsmart.extension.iastate.edu/calculator/images/icn-arrow-left-blue.svg' );
        }

        #sses-calculator .calculator-card-edit-nav-next {
            background-image: url( '//spendsmart.extension.iastate.edu/calculator/images/icn-arrow-right-blue.svg' );
        }

        #sses-calculator .calculator-card-edit-nav .disabled {
            cursor: default;
            opacity: .1;
        }

    #sses-calculator .calculator-card-edit-nav span {
        color: #08669b;
        float: left;
        font-size: 1.3em;
        font-weight: 700;
        letter-spacing: .05em;
        line-height: 2;
        padding: 0 1em;
        text-transform: uppercase;
    }

#sses-calculator .edit-family-member-int {
    margin: 0 0 1.5em;
    overflow: hidden;
    position: relative;
    transition: all .4s ease-in-out;
    width: 300%;
    z-index: 1;
}

#sses-calculator .edit-family-member-int > div {
    border: 1px solid #BAD3E3;
    color: #08669b;
    float: left;
    margin: 0 1.5em;
    padding: 3em 1.5em 1.5em;
    width: calc( 33.333333% - 3em );
}

#sses-calculator .edit-family-member .calculator-edit-gender {
    color: #08669b;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#sses-calculator .calculator-edit-gender li {
    float: left;
    font-size: 1.0em !important;
    margin: 1em 0 .9em;
    padding: 0;
    text-transform: uppercase;
    width: 50%;
}

    #sses-calculator .calculator-edit-gender li a {
        background-repeat: no-repeat;
        background-size: 1.6em auto;
        color: #08669b;
        display: block;
        font-size: 2em !important;
        font-weight: 700;
        height: 5em;
        margin: 0 auto;
        padding: 2.8em 0 0;
        text-align: center;
        width: 5em;
    }

    #sses-calculator .calculator-edit-gender li.active a {
        background-color: rgba(8, 102, 155, .14);
    }

    #sses-calculator .edit-family-member .calculator-edit-gender li a:hover {
        text-decoration: none;
    }

    #sses-calculator .calculator-edit-gender .calculator-select-gender-male a {
        background-image: url( '//spendsmart.extension.iastate.edu/calculator/images/icn-gender-male.svg' );
        background-position: center .6em;
    }

    #sses-calculator .calculator-edit-gender .calculator-select-gender-female a {
        background-image: url( '//spendsmart.extension.iastate.edu/calculator/images/icn-gender-female.svg' );
        background-position: center .7em;
        background-size: 1.2em auto;
    }

#sses-calculator .edit-family-member .calculator-range a {
    background-color: rgba(8,102,155,.2);
    border-radius: 100%;
    color: #08669b;
    display: inline-block;
    height: 2em;
    font-size: 1.0em !important;
    margin: 0 1.5em;
    padding: 0;
    position: relative;
    top: .3em;
    width: 2em;
}

    #sses-calculator .edit-family-member .calculator-range a:before,
    #sses-calculator .edit-family-member .calculator-range a:after {
        background-color: #08669b;
        content: '';
        position: absolute;
    }

    #sses-calculator .edit-family-member .calculator-range a:before {
        height: .2em;
        left: .5em;
        top: .9em;
        width: 1em;
    }

    #sses-calculator .edit-family-member .calculator-range a:after {
        height: 1em;
        left: .9em;
        top: .5em;
        width: .2em;
    }

    #sses-calculator .edit-family-member .calculator-range a:first-of-type:after {
        display: none;
    }

#sses-calculator .edit-family-member .calculator-range span {
    color: #08669b;
    display: inline-block;
    font-size: 1.6em !important;
    font-weight: 700;
    padding: .5em 0 1em;
    text-transform: uppercase;
}

#sses-calculator .calculator-range-int {
    color: #08669b;
    margin: 0 -.75em;
    padding: 0 0 4em;
    position: relative;
}

#sses-calculator .edit-family-member input[type=range] {
    background-color: transparent;
    font-size: 1.0em !important;
    position: relative;
    width: 100%;
    z-index: 2;

    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
            appearance: none;
}

    #sses-calculator .edit-family-member input[type=range]:before,
    #sses-calculator .edit-family-member input[type=range]:after {
        background-color: #e8eff6;
        content: '';
        height: 1.5em;
        margin: -.75em 0 0;
        position: absolute;
        top: 50%;
        width: 1.8em;
        z-index: 1;
    }

    #sses-calculator .edit-family-member input[type=range]:before {
        left: -2px;
    }

    #sses-calculator .edit-family-member input[type=range]:after {
        right: 0;
        width: 2em;
    }

    #sses-calculator .edit-family-member input[type=range]::-webkit-slider-runnable-track {
        background-color: #08669b;
        border: none;
        height: 1px;
        width: 100%;
    }

    #sses-calculator .edit-family-member input[type=range]::-webkit-slider-thumb {
        background-color: #fff;
        border: 2px solid #08669b;
        border-radius: 100%;
        height: 3em;
        margin-top: -1.5em;
        position: relative;
        width: 3em;
        z-index: 10;

        -webkit-appearance: none;
           -moz-appearance: none;
            -ms-appearance: none;
                appearance: none;
    }

    #sses-calculator .edit-family-member input[type=range]:focus {
        outline: none;
    }

    #sses-calculator .calculator-range-int > div {
        background-color: #08669b;
        content: '';
        position: absolute;
        height: 2.5em;
        top: -.6em;
        width: 1px;
        z-index: 1;
    }

        #sses-calculator .edit-family-member .calculator-range-int > div span {
            font-size: 1.4em !important;
            font-style: normal;
            font-weight: 700;
            left: 50%;
            margin: 0 0 0 -1.5em;
            padding: .25em 0 0;
            position: absolute;
            text-align: center;
            top: 100%;
            width: 3em;
        }

    #sses-calculator .calculator-range-int > .range-1 {
        left: 1.9em;
    }

    #sses-calculator .calculator-range-int > .range-2 {
        left: calc( 25% + .75em );
    }

    #sses-calculator .calculator-range-int > .range-3 {
        left: 50%;
    }

    #sses-calculator .calculator-range-int > .range-4 {
        left: calc( 75% - .75em );
    }

    #sses-calculator .calculator-range-int > .range-5 {
        right: 1.9em;
    }

#sses-calculator .family-member-details {
    border: 1px solid #BAD3E3;
    color: #08669b;
    height: 15em;
    margin: 0 0 1.5em;
    padding: 1.5em;
    position: relative;
    text-align: left;
}

    #sses-calculator .family-member-details h4 {
        color: #08669b;
        font-size: 2.0em !important;
        padding: 0 0 .5em;
    }

    #sses-calculator .family-member-details p {
        color: #08669b;
        font-family: 'Georgia', serif;
        font-size: 1.6em;
        padding: 0 0 1em;
    }

    #sses-calculator .remove-family-member {
        color: transparent;
        font-size: 1.0em !important;
        line-height: 0;
        position: absolute;
        right: 1em;
        top: 2.6em;
    }

        #sses-calculator .remove-family-member:before,
        #sses-calculator .remove-family-member:after {
            background-color: #08669B;
            content: '';
            left: 50%;
            height: .2em;
            margin: -.1em 0 0 -1em;
            position: absolute;
            top: 50%;
            width: 2em;
        }

        #sses-calculator .remove-family-member:before {
            transform: rotate(-45deg);
        }
        
        #sses-calculator .remove-family-member:after {
            transform: rotate(45deg);
        }

        #sses-calculator .edit-family-member-button {
            color: #08669b;
            font-family: 'Georgia', serif;
            font-size: 1.0em;
            font-style: italic;
            font-weight: 400;
            line-height: 1;
            margin: 0;
            padding: 0;
            text-decoration: underline;
        }

#sses-calculator .add-family-member {
    border: 1px solid #BAD3E3;
    color: #08669b;
}

    #sses-calculator .add-family-member a {
        color: #08669b;
        display: block;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-size: 1.8em !important;
        font-weight: 700;
        padding: 2em;
        text-align: center;
        text-decoration: none;
    }


#sses-calculator .calculator-button {
    display: inline-block;
    font-size: 10px !important;
    margin: 1.5em 0 0;
    padding: 0;
    text-decoration: none;
}

        #sses-calculator .calculator-button .pill-shape-content {
            background-color: #fff;
            border: 2px solid #d9d9d9;
            border-left: 0;
            border-right: 0;
            color: #666666;
            height: 5em;
            margin: 0 3em;
        }

            #sses-calculator .calculator-button .pill-shape-content span {
                display: block;
                font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
                font-size: 1.8em !important;
                font-weight: 600;
                line-height: 1.6;
                padding: .4em 0 0;
                text-transform: uppercase;
            }

        #sses-calculator .calculator-button .pill-shape-left {
            border-top: 4.6em solid transparent;
            border-bottom: 4.6em solid transparent;
            border-left: 8em solid #d9d9d9;
        }

            #sses-calculator .calculator-button .pill-shape-left:after {
                border-bottom: 4.4em solid transparent;
                border-top: 4.4em solid transparent;
                border-left: 7.3em solid #fff;
            }

        #sses-calculator .calculator-button .pill-shape-right {
            border-top: 4.6em solid transparent;
            border-bottom: 4.6em solid transparent;
            border-right: 8em solid #d9d9d9;
        }


        #sses-calculator .calculator-button .pill-shape-right:after {
            border-bottom: 4.4em solid transparent;
            border-top: 4.4em solid transparent;
            border-right: 7.3em solid #fff;
        }

    #sses-calculator .calculator-button .pill-shape-content {
        background-color: #08669b;
        border-color: #08669b;
        color: #fff;
    }

        #sses-calculator .calculator-button .pill-shape-left,
        #sses-calculator .calculator-button .pill-shape-left:after,
        #sses-calculator .calculator-button .pill-shape-right,
        #sses-calculator .calculator-button .pill-shape-right:after {
            border-color: #08669b;
        }

#sses-calculator .calculator-button.disabled {
    cursor: default;
    opacity: .1;
}

#sses-calculator .edit-family-member .calculator-button {
    float: right;
}

    #sses-calculator .edit-family-member .calculator-button .pill-shape-content {
        height: 4em;
    }

        #sses-calculator .edit-family-member .calculator-button .pill-shape-content span {
            padding-top: .2em;
        }

/* Calculator Results */
#sses-calculator .calculator-results p {
    font-family: 'Georgia', serif;
    font-size: 1.6em !important;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0 0 2em;
    text-align: center;
}

    #sses-calculator .calculator-results p:first-of-type {
        padding: 0;
    }

#sses-calculator .calculator-results h4 {
    font-size: 2.1em !important;
    margin: 0 0 .5em;
    padding: 0;
    position: relative;
    text-align: center;
}

    #sses-calculator .calculator-results h4 span {
        background-color: #e8eff6;
        display: inline-block;
        padding: .33em .66em;
        position: relative;
        z-index: 2;
    }

    #sses-calculator .calculator-results h4:after {
        background-color: #c8dbe7;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 1;
    }

#sses-calculator .calculator-results-data {
    border: 0;
    margin: 0 0 2em;
    overflow: hidden;
    padding: 1.6em 0 0;
}

#sses-calculator  .calculator-results-data li {
    float: left;
    font-size: 1.0em !important;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    padding: 0 1em;
    text-align: center;
    width: 50%;
}

    #sses-calculator .calculator-results-data li:first-of-type {
        border-right: 1px solid #c8dbe7;
    }

    #sses-calculator .calculator-results-data li span {
        color: #08669b;
        display: block;
        font-size: 3.2em !important;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
    }

    #sses-calculator .calculator-results-data li em {
        color: #08669b;
        font-size: 1.6em !important;
        font-family: 'Georgia', serif;
        margin: 0;
        padding: 0;
    }

#sses-calculator .calculator-results-compare {
    border: 0;
    margin: 0 0 1em;
    overflow: hidden;
    padding: 0 0 1em;
}

    #sses-calculator .calculator-results-compare li {
        float: left;
        font-size: 1.0em !important;
        text-align: center;
        width: 33.33333%;
    }

    #sses-calculator .calculator-results-compare li a {
        background-image: url( '//spendsmart.extension.iastate.edu/calculator/images/bg-pill-outline.svg' );
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 4.61111em 2.3333333333em;
        display: inline-block;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-size: 1.8em !important;
        font-weight: 600;
        height: 2.3333333333em;
        margin: 0;
        padding: .3em 0 0;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 4.61111em;
    }

        #sses-calculator .calculator-results-compare li a,
        #sses-calculator .calculator-results-compare li a:hover {
            text-decoration: none;
        }

        #sses-calculator .calculator-results-compare li a.active,
        #sses-calculator .calculator-results-compare li a:hover {
            background-image: url( '//spendsmart.extension.iastate.edu/calculator/images/bg-pill-fill.svg' );
            color: #fff;
        }

        #sses-calculator .calculator-results-compare li a.active:after {
            border-bottom: 0;
            border-left: .6em solid transparent;
            border-right: .6em solid transparent;
            border-top: .6em solid #08669b;
            content: '';
            display: block;
            height: 0;
            margin: 0 0 0 -.6em;
            left: 50%;
            position: absolute;
            top: 100%;
            width: 0;
        }

#sses-calculator .calculator-results-tabs {
    border: 1px solid #c8dbe7;
    color: #08669b;
    padding: 1.5em;
}

    #sses-calculator .calculator-results-tabs > div {
        display: none;
    }

    #sses-calculator .calculator-results-tabs .active {
        display: block;
    }

    #sses-calculator .calculator-results-tabs p {
        color: #08669b;
        font-family: 'Georgia', serif;
        font-size: 1.6em !important;
        line-height: 1.4;
        margin: 0;
        padding: 0 0 1em;
        text-align: left;
    }

    #sses-calculator .calculator-results-tabs a {
        color: #08669b;
        font-size: 1.0em;
        font-weight: 900;
        margin: 0;
        padding: 0;
    }

    #sses-calculator .calculator-results-tabs ol {
        color: #08669b;
        margin: 0;
        padding: 0;
        position: static;
        text-align: left;
    }

    #sses-calculator .calculator-results-tabs ol li {
        color: #08669b;
        border: 0;
        font-family: 'Georgia', serif;
        font-size: 1.6em !important;
        font-weight: 400;
        line-height: 1.4;
        list-style-type: decimal;
        list-style-position: inside;
        margin: 0;
        padding: 0 0 1em;
    }

@media screen and (min-width: 375px) {
    #sses-calculator .sses-calculator-int {
        font-size: 10px !important;
    }

        #sses-calculator .calculator-range-int > .range-1 {
            left: 1.8em;
        }

        #sses-calculator .calculator-range-int > .range-5 {
            right: 1.8em;
        }

    #sses-calculator .calculator-results {
        padding: 1em;
    }
}


/* Footer */
#sses-calculator-footer {
    color: #08669b;
    display: block;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin: 0 auto;
    max-width: 50em;
    padding: 0;
}

#sses-calculator-footer {
    padding: 0 2em 5em;
    position: relative;
}

    #sses-calculator-footer img {
        position: absolute;
    }

    #sses-calculator-footer img:first-of-type {
        height: 2.017em;
        left: 0;
        top: 2em;
        width: 15em;
    }

    #sses-calculator-footer img:last-of-type {
        right: 0;
        top: 2em;
    }

@media screen and (min-width: 375px) {
    #sses-calculator-footer img:first-of-type {
        left: 2em;
        top: 2em;
    }

    #sses-calculator-footer img:last-of-type {
        right: 2em;
        top: 2em;
    }
}

@media screen and (min-width: 500px) {
    #sses-calculator-footer img:first-of-type {
        height: 2.3em;
        width: 17.1em;
    }

    #sses-calculator-footer img:last-of-type {
        height: 1.07em;
        width: 12.3em;
    }
}