html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial;
}

body{
	width: auto;
	height: auto;
	background-image: url(signinbackground2.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.login-prompt input[type=text]{
	width:100%;
	border: 1px solid;
	border-radius: 4px;
}

.login-prompt input[type=submit]{
	background-color: #839af7;
	width: 100%;
	border-radius: 4px;
}

.login-prompt form{
	display: block;
	text-align: center;
	width: 25%;
	position: absolute;
	left: 40%;
	padding: 15px;
	border: 2px solid;
	border-radius: 10px;
}

.login-prompt a{
	padding-top: 5px;
	font-size: 12px;
	text-decoration: none;
	display: block;
}

.login-prompt form h1{
	padding: 10px;
	color: #1B72A1;
}


.login-prompt form h2{
	font-size: 20px;
	color: #1B72A1;
}

.login-prompt li a {
	font-size: 15px;
	padding: 8px;
}

.login-prompt ul li{
	text-decoration: none;
	display: inline-block;
	padding: 8px;
}

.style-nav ul{
	list-style-type: none;
	padding: 8px;
}

.style-nav ul li a{
	text-decoration: none;
	color: #47525E;
	text-align: center;
	display: block;
	font-size: 17px;
	padding: 16px;
}

.style-nav li a.active{
	background-color:#fcfca6;
	padding: auto;
}

.style-nav li a:hover:not(.active){
	background-color: #f5f5dc;
}

@media screen and (min-width: 768px){ /* Mobile Device Screen*/
		.style-nav ul li{
			display: inline-block;
		}
		.style-nav ul{
			text-align: right;
		}
		.style-nav ul li a{
			padding: 8px;
		}
}

@media (min-width: 1024px){ /* Mobile Device Screen*/
	.style-nav ul li{
		display: inline-block;
		padding: 8px;
	}
	.style-nav ul{
		text-align: right;
	}
}