html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial;
}

.style-nav ul{
	list-style-type: none;
	padding: 8px;
}

.style-nav ul li a{
	text-decoration: none;
	color: #47525E;
	text-align: center;
	display: block;
	font-size: 18px;
	padding: 16px;
}

.style-nav li a.active{
	background-color: #E5E5AB;
}
.style-nav li a:hover:not(.active){
	background-color: #f5f5dc;
}

@media screen and (min-width: 768px){ /* Mobile Device Screen*/
		.style-nav ul li{
			display: inline-block;
		}
		.style-nav ul{
			text-align: right;
		}
		.style-nav ul li a{
			padding: 8px;
		}
}

@media (min-width: 1024px){ /* Mobile Device Screen*/
	.style-nav ul li{
		display: inline-block;
		padding: 8px;
	}
	.style-nav ul{
		text-align: right;
	}
}